@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer base {
  body {
    @apply bg-slate-900 text-white mx-auto sm:max-w-xl md:max-w-4xl lg:max-w-5xl xl:max-w-6xl;
  }
}
